# Database
DATABASE_URL="file:./dev.db"

# Auth
AUTH_SECRET="your-auth-secret-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="DermaLens AI"